@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
:root{
    --ônix: rgb(185, 185, 185);
--preto: rgb(130, 129, 143);
--preto-azul: rgb(4, 37, 90);
--rich-black: rgb(47, 51, 75);
--titulo: "Bungee Spice", sans-serif;
--texto: "Indie Flower", cursive;
}
body{
  background-color: var(--preto);  
  font-family: var(--titulo);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

button{
  background-color: rgb(112, 104, 196);
  color: var(--preto);
  padding: 10px;
  border: 2px olid var(--preto-azul);
  border-radius: 8px;
  font-size: 20px;
  margin: 5px;

}

button:hover{
  background-color: rgb(42, 50, 97);
  color: var(--preto);
  transition: 0.5px;
  border: 2px solid #5a5151;
  box-shadow: 2px 2px 10px #2e2c2c;
}

main{
  margin: 40px 20px;
  max-width: 90%;
  text-shadow: 28px;
}

.passo{
  display: none;
}

.ativo{
  display: block;
}