
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap');
    :root{
    --Azul: #2b2d42ff;
    --Azul-Claro: #8d99aeff;
    --Branco: #edf2f4ff;
    --Vermelho: #ed2100;
    --titulo: "Bungee Spice", sans-serif;
    --texto: "Bebas Neue", sans-serif;
}

body {
    background-color: var(--Azul);
    font-family: var(--titulo);
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}